.el-date-editor {
    position: relative;
    display: inline-block;
    width:100%;
}
.el-date-editor.el-input{
    width: 100% !important;
}
.bu{
    margin-top:20px;
}
.bt{
    margin-top: -42px;
}
.location_bottom{
    margin-left: -15px;
}

/* .el-button--primary{
    margin-top: 5px !important;
} */
#bn{
    background-color: #f3f3f3;
    border: none;
    color: #787878;
    top: 12px;
    right: 94px;
}
#xbt{
    background-color: #f3f3f3;
    border: none;
    color: #787878;
    top: 12px;
    right: 54px;
}
#an{
    top: 0px;
    background-color: #f3f3f3;
    border: none;
    color: #787878;
    right: 120px;
    padding-top: 0px;
}