#an{
    top: 0px;
    background-color: #f3f3f3;
    border: none;
    color: #787878;
    right: 120px;
    padding-top: 0px;
}
#bt{
    background-color: #f3f3f3;
    border: none;
    color: #787878;
    top: 12px;
    right: 94px;
}
#xbt{
    background-color: #f3f3f3;
    border: none;
    color: #787878;
    top: 12px;
    right: 54px;
}