/*.full-container{*/
  /*max-width: 900px;*/
  /*max-height: 800px;*/
/*}*/


/*// you must include each plugins' css*/
/*// paths prefixed with ~ signify node_modules*/
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

.demo-app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-top {
  float: left;
  margin-top: 8%;
  width: 10%;
  height: 25%;
}

.demo-app-calendar {
  margin: 0 auto;
  /*max-width: 900px;*/
}

.room-bot{
  border-bottom: 1px dotted;
  margin-bottom: 10px;
}
.el-select{
  display: block;
}
.list-fold-panel{
  height: 50px;
  overflow: hidden;
}
.list-fold-panel-teacher{
  height: 50px;
  overflow: hidden;
}
.list-fold-panel-room{
  height: 50px;
  overflow: hidden;
}
.text-line-height{
  line-height: 60px;
}
.el-tabs__content{
  position: relative;
  overflow: inherit !important;
}
#btnChoose{
  z-index: 10;
}
#xbout{
 margin-top: 30px;
}
