.an{
    top: 6px;
    background-color: #f3f3f3;
    border: none;
    color: #787878;
    right: 120px;
}
.bt{
    background-color: #f3f3f3;
    border: none;
    color: #787878;
    top: 7px;
    right: 94px;
}
#heig{
    background-color: #f3f3f3;
    border: none;
    color: #787878;
    top: 8px;
    right: 54px;
}
#bot{
    right: 54px;
}