.vertical-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: rgb(33, 150, 243);
}

.contact textarea{
    height: 150px;
}

.txt input{
    border: none;
    font-size: 15px;
}

.rightBtn1{
    padding-left:93%;
    padding-bottom: 10px;
}
.rightBtn2{
    padding-left:83%;
    padding-bottom: 10px;
}

.fontTitle{
    font-size: 20px;
}

.rightButton{
    text-align: right;
}

.topTitle{
    margin-top: 25px;
}

